body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  padding: 30px 0;
}

.container {
  max-width: 800px;
  display: flex;
  justify-content: center;
}

button {
  margin: 0 30px 0 0;
}

.buttons {
  text-align: right;
}
